*.rst linguist-language=c++
*.md linguist-detectable=true
*.yml linguist-detectable=true
*.rusted linguist-language=c
*.bat linguist-language=c++
*.sh linguist-language=c++
*.txt linguist-language=c++
*.pyc linguist-language=python
